@import './baseClass.scss';
@import './css3-flex.scss';

body {
  height: 100%;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 #e2e2e2;
}

.container {
  box-sizing: border-box;
  height: calc(100vh - 62px);
  background-color: #fff;
}
