@import './baseClass.scss';
@import './css3-flex.scss';

@font-face {
  font-family: 'MicrosoftSansSerif';
  src: url('./fonts/MicrosoftSansSerif.ttf') format('truetype');
}

body {
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-family: 'MicrosoftSansSerif';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 #e2e2e2;
}

.container {
  padding: 20px 24px;
  box-sizing: border-box;
  // height: calc(100vh - 112px);
  background-color: #fff;
  .title {
    font-size: 24px;
    font-weight: bold;
    padding: 24px 0;
  }
  .md_title {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0;
  }
  .xs_title {
    font-weight: bold;
    font-size: 18px;
    padding: 18px 0;
  }
  // 单选框超出换行
  .el-radio__label {
    white-space: break-spaces;
  }
}
.point {
  cursor: pointer;
}

.box_bod {
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
}

.line_se {
  height: 50px;
}
